.board-details {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .board-header {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .board-header h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .board-header p {
    font-size: 16px;
    color: #555;
  }
  
  /* .pin-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .pin {
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  .pin:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .pin-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .pin-title {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }
  
  .loading {
    text-align: center;
    font-size: 18px;
    padding: 20px; */
    .board-form-container {
      /* margin: auto; */
      
      /* min-width: 400px; */
      max-width:600px;
      margin: 0px auto;
      padding: 20px;
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.449);
      margin-top: 20px;
      border-radius: 1.5rem;
      height: 28rem;
      display: flex;
      flex-direction: column;
    justify-content: center;  
    margin-top: 100px;
    margin-bottom: 10%;
    }
    
    .board-form-container h2 {
      text-align: center;
      margin-bottom: 40px;
      color: #333;
    }
    
    .board-form {
      display: flex;
      flex-direction: column;
    }
    .form-group textarea{
      max-height: 11rem;
    }
    
    .form-group {
      margin-bottom: 20px;
    }
    
    .form-group label {
      display: block;
      margin-bottom: 8px;
      font-weight: bold;
      color: #333;
    }
    
    .error {
      margin-top: 5px;
      color: #e60023;
      font-size: 14px;
    }

    button{
      cursor: pointer;
      min-width: fit-content;
    }
    
  .remove-icon{
    color: red;
    margin-left: 8px;
  }
  @media screen and (max-width:1200px){
    .board-f{
      /* width: 400px; */
      /* margin-right: 100px; */
    }
     .board-form-container{ 
      /* margin-right: 480px;
      margin-left: -130px; */
      /* width:200%; */
      margin: 0px;
      margin-top: 20%;
      /* margin-bottom: 29%; */
      width: 80vw;
      /* display: flex; */
      /* justify-self: center; */
      position:absolute;
      left: 5%;
      /* margin-bottom: 2rem; */
      right: 5%;
      /* bottom: -100%; */
      /* top: 120%; */
      /* bottom: 5rem; */
      /* padding-bottom: 50px; */
    } 
  }